*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #111827;
  color: white;
}

.logo a{
  text-decoration: none;
  color: #60a5fa;
  font-size: 24px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active{
  color: #60a5fa;
}

.btn{
  padding: 10px 20px;
  border: none;
  background: #60a5fa;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover{
  background: #3b82f6;
}
